<div>
    <h2>Statistics</h2>

    <div>
        <table>
            <thead>
                <th>users_count</th>
                <th>payment_count</th>
                <th>total_calls</th>
                <th>total_succesfull_calls</th>
                <th>total_call_time</th>
            </thead>
            <tbody>
                <tr>
                    <td>{{ Statistics?.users_count }}</td>
                    <td>{{ Statistics?.payment_count }}</td>
                    <td>{{ Statistics?.total_calls }}</td>
                    <td>{{ Statistics?.total_succesfull_calls }}</td>
                    <td>{{ Statistics?.total_call_time }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>